.gameInfo {
  font-size: calc(18 / 16 * 1rem);
  font-weight: 600;
  opacity: 0.5;
}

.timer {
  position: absolute;
  top: calc(env(safe-area-inset-top) + 1rem);
  right: calc(env(safe-area-inset-right) + 1rem);
  composes: gameInfo;
}

.points {
  position: absolute;
  top: calc(env(safe-area-inset-top) + (80 / 16 * 1rem));
  left: 0;
  right: 0;
}

.afterForm {
  padding-top: var(--grid-size);
  position: relative;
}
