.gameInfo {
  font-size: calc(18 / 16 * 1rem);
  font-weight: 600;
  opacity: 0.5;
}

.timer {
  position: absolute;
  top: 9px;
  right: 0;
  composes: gameInfo;
}

.points {
  position: absolute;
  top: calc(80 / 16 * 1rem);
  left: 0;
  right: 0;
}

.afterForm {
  padding-top: var(--grid-size);
  position: relative;
}
