:root {
  --font-family: Futura, Futura-Medium, 'Futura Medium', 'Century Gothic', CenturyGothic,
    'Apple Gothic', AppleGothic, 'URW Gothic L', 'Avant Garde', sans-serif;

  --bg-color-ok: #5d922f;
  --bg-color-warn: #e87405;
  --bg-color-alert: #da1e31;

  --bg-color: var(--bg-color-ok);
  --fg-color: #fff;

  --grid-size: calc(8 / 16 * 1rem);
}

* {
  box-sizing: border-box;
}

html,
body,
:global(#root) {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--fg-color);
  transition: background-color 3s;
}

::placeholder {
  color: inherit;
  opacity: 0.5;
}
